<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  {% load static %}
  <link href="{% static 'css/estilo.css' %}" rel="stylesheet" />
  <link href="{% static 'css/portalDeAcceso.css' %}" rel="stylesheet" />
  <link href="{% static 'css/registroUsuario.css' %}" rel="stylesheet" />
  <link href="{% static 'css/elementoElegido.css' %}" rel="stylesheet" />
  <link href="{% static 'css/contacto.css' %}" rel="stylesheet" />
  <link href="{% static 'css/misiones.css' %}" rel="stylesheet" />
  <link href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css" rel="stylesheet" />
  <link rel="icon" href="{% static 'img/logo original ojo5.png' %}" type="image/png">
  <title>{% block title %}{% endblock %}</title>
</head>

<body>
  <div class="page-container">
    <nav class="navbar">
      <div class="logo">
        <img src="{% static 'img/logo original ojo5.png' %}" alt="Logo Crearte ConscienteZ" />
      </div>
      <ul class="nav-links">
        <li><a href="{% url 'home' %}">Inicio</a></li>
        <li><a href="{% url 'portalDeAcceso' %}">Portal De Acceso</a></li>
        <li><a href="{% url 'contacto' %}">Contacto</a></li>
      </ul>
    </nav>

    <main>
      {% block content %}
      {% endblock %}
    </main>

    <footer class="footer">
      <div class="footer-content">
        <br>
        <a href="https://www.instagram.com/crearteconscientez/" target="_blank" class="instagram-link">
          <img src="https://www.instagram.com/static/images/web/mobile_nav_type_logo.png/735145cfe0a4.png" alt="Instagram" class="instagram-logo">
        </a>
        <p>© 2025 Crearte ConscienteZ. Todos los derechos reservados.</p>
      </div>
    </footer>
  </div>

  {% block extra_js %}
  {% endblock %}
</body>
</html>
