{% extends "base.html" %}

{% load static %}

{% block title %}
   Portal de Acceso
{% endblock %}

{% block content %}  

<style>
    body {
        background-image: url("{% static 'img/portaldeacceso.jpg' %}");
        background-size: cover;
        background-position: center;
        background-attachment: fixed;
        background-color: #000;
    }
</style>
<div class="contenedor-acceso">
    <div class="portal-de-acceso">
        <h1>Crearte ConscienteZ</h1>
        <p>Empieza Tu Viaje</p>

        <form method="POST" autocomplete="off">
            {% csrf_token %}
            <input type="text" name="username" placeholder="Usuario" required autocomplete="new-username">
            <input type="password" name="password" placeholder="Contraseña" required autocomplete="new-password">

            {% if error %}
                <div class="form-errors" style="background:#d32f2f;color:#fff;padding:12px;border-radius:6px;margin-bottom:10px;font-weight:bold;text-align:center;">{{ error }}</div>
            {% endif %}
            <button type="submit" class="boton-ingresar">INGRESAR</button>
        </form>
    </div>

    <div class="crear-cuenta">
        <h2>¿No tienes cuenta?</h2>
        <p>Regístrate para comenzar tu viaje</p>
        <a href="{% url 'registroUsuario' %}" class="boton-crear-cuenta">Crear Cuenta</a>
    </div>
</div>

{% endblock %}
